/* General */

* {
	box-sizing:border-box;
	line-height:1.5;
}

body {
	margin:0;
	font-family: "Arial";
}

a {
	text-decoration:none;
	color:#000;
}

.heading {
	font-family: "Arial Black";
    margin:0;
}

header {
	background:#ebc634;
	padding:20px;
}

header p.header-logo {
	margin:0;
	font-size:20px;
	text-transform:uppercase;
}

footer {
	background:#ebc634;
	padding:20px;
}

.container-1020 {
	width:1020px;
	margin:auto;
}

.btn {
	padding:10px;
	background:#ebc634;
	font-size:16.5px;
	font-weight:bold;
}

.btn:hover {
	cursor:pointer;
	opacity:0.9;
}

a.btn {
	text-decoration:none;
	color:#000;
}

@media (max-width: 767px) {
	
	.container-1020 {
		width:100%;
		padding:0 20px;
	}
}

.shadow-box {
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.25); 
	box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.25);
    padding:20px;
}

/* Home page */

#search-form {
	background-image: url('../images/tool-belt-on-roof.jpg');
	background-size: cover;
	min-height:calc(90vh);
	padding-top:300px;
}

#search-form form {
	margin:auto;
	background: rgba(0,0,0,0.5);
}

#search-form form fieldset {
	border:none;
	margin:0px;
	padding:20px;
}

#search-form form fieldset input[type="text"] {
	width:40%;
	padding:10px;
	border:solid 2px #ebc634;
}

#search-form form fieldset input[type="submit"] {
	width:calc(20% - 11px);
	border:none;
	position:relative;
	top: 1px;
}

@media (max-width: 767px) {
	
	#search-form {
		padding-top: 150px;
	}
	
	#search-form form {
		width:90%;
	}
	
	#search-form form fieldset input[type="text"] {
		width:100%;
		margin-bottom:20px;
	}
	
	#search-form form fieldset input[type="submit"] {
		width:100%;
		top: 0;
	}
}

/* Search Results Page */

.results-container {
	display: flex;
	padding: 20px 0;
}

.results-filters {
	width:30%;
	margin-right:20px;
}

.filters {
	/* TODO */
}

.results-list {
	width:70%;
}

@media (max-width: 767px) {
	
	.results-filters {
		display:none;
	}
	
	.results-list {
		width:100%;
	}
}

.results-list-item {
	display: flex;
	margin-bottom:20px;
}

.trader-logo {
	width:30%;
	height:fit-content;
}

.trader-info {
	padding-left:20px;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}

.trader-name {
	margin:0;
}

.trader-contact {
	display:flex;
	justify-content:space-between;
}

.trader-distance {
	margin:auto 0;
}

/* Details Page */

.details-container {
    padding:20px 0;
    display:flex;
}

.details-container .logo {
    width:100%;
}

.details-contact {
    width:30%;
    margin-right:20px;
}