* {
	box-sizing:border-box;
}

body {
	margin:0;
	font-family: "Arial Black";
}

header {
	background:#ebc634;
	padding:20px;
}

header p.header-logo {
	margin:0;
	font-size:20px;
	text-transform:uppercase;
}

#search-form {
	background-image: url('../images/tool-belt-on-roof.jpg');
	background-size: cover;
	min-height:calc(90vh);
	padding-top:300px;
}

#search-form form {
	width:60%;
	margin:auto;
	background: rgba(0,0,0,0.5);
}

#search-form form fieldset {
	border:none;
	margin:0px;
	padding:20px;
}

#search-form form fieldset input[type="text"] {
	width:40%;
	padding:10px;
	border:solid 2px #ebc634;
}

#search-form form fieldset input[type="submit"] {
	width:calc(20% - 11px);
	padding:10px;
	background:#ebc634;
	font-size:16.5px;
	font-weight:bold;
	border:none;
	position:relative;
	top: 1px;
}

@media (max-width: 767px) {
	
	#search-form {
		padding-top: 150px;
	}
	
	#search-form form {
		width:90%;
	}
	
	#search-form form fieldset input[type="text"] {
		width:100%;
		margin-bottom:20px;
	}
	
	#search-form form fieldset input[type="submit"] {
		width:100%;
		top: 0;
	}
}

.container-1020 {
	width:1020px;
	margin:auto;
}

footer {
	background:#ebc634;
	padding:20px;
}